.profile-openvpn-buttons{
    display: flex;
    padding: 8px;
    justify-content: space-between;
    background-color: var(--purple);
}

.profile-openvpn-buttons .p-button{
    background-color: var(--lightish_purple);
}

.openvpn-paths-model-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}