body .profile-content-table .p-datatable .p-datatable-thead th{
    background-color: var(--purple);
    color: white;
}

body .profile-content-table .p-datatable tr{
    background-color: var(--lightish_purple);
    color: white;
}

body .profile-content-table .p-datatable .p-component  {
    background-color: var(--lightish_purple);
}

body .profile-content-table .p-datatable .p-paginator {
    background-color: var(--purple);
}

.p-paginator {
    background-color: var(--purple);
}

.p-dropdown-label {
    color: white;
    font-weight: bold;
}

.p-paginator .p-paginator-pages a {
    color: white;
    font-weight: bold;
}

.p-paginator .p-paginator-pages .p-highlight a {
    color: var(--purple);
    font-weight: bold;
}

.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next {
    color: white;
    font-weight: bold;
}
  
.p-paginator .p-paginator-current {
    color: white;
    font-weight: 500;
}