.hero-block{
    background-image: url("../../../assets/HeroBackgroundImage.png");
    /* height: 100vh; */
    display: flex;
    align-items: center;
    padding: 32px 64px 32px 64px;
    margin-top: -32px;
    box-shadow: inset 0px -17px 14px var(--dark_purple);
}

.hero-content-block{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    width: 50%;
}

.hero-action-buttons{
    display: flex;
    gap: 10px;
}

.get-started-button.p-button{
    background-color: var(--cyan);
    color: var(--dark_purple);
    border-color: var(--cyan);
}

.get-started-button.p-button:hover{
    background-color: var(--purple) !important;
    color: white !important;
    border-color: var(--purple) !important;
}

.more-info-button.p-button{
    color: var(--cyan);
    border-color: var(--cyan);
}

.more-info-button.p-button:hover{
    color: var(--pink) !important;
    border-color: var(--pink) !important;
}

.hero-image{
    width: 100%;
}