.admin-page-block{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-right: 16px;
}

.admin-page-content-block{
    width: 83%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

body .admin-page-content-block .p-datatable .p-datatable-thead th{
    background-color: var(--purple);
    color: white;
}

body .admin-page-content-block .p-datatable tr{
    background-color: var(--lightish_purple);
    color: white;
}

body .admin-page-content-block .p-datatable .p-component {
    background-color: var(--lightish_purple);
}

body .admin-page-content-block .p-datatable .p-paginator {
    background-color: var(--purple);
}