:root {
  --dark_purple: #17072B;
  --lightish_purple: #291048;
  --purple: #6200AF;
  --purplish_grey: #B2ABBB;
  --pink: #8C15E9;
  --cyan: #22DDD2;
  --blue: #2E73EA;
}

 body {
  position: relative;
  color: white;
  /* height: 100vh; */
  width: 100vw;
  background-color: var(--dark_purple);
  font-family: sans-serif;
  /* overflow-x: hidden; */
  display: flex;
  /* justify-content: center; */
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  /* margin: 10px; */
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

