.tools-menu-block{
    position: relative;
    height: 100%;
}

.tools-menu-carousel{
    position: absolute;
    left: -9vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: grab;
    gap: 16px;
    height: 100%;
}

.tool-menu-item{
    height: 100%;
    width: 200px;
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-menu-item[data-isOpen="true"]{
    width: 400px;
    border-radius: 20%;
}